<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>아이엠디티 코딩테스트 프로젝트</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container h-100 ">
    <div class="row h-100">
        <div class="col-12 d-flex justify-content-center">

            <div class="card border-secondary align-self-center" style="width: 30rem;">

                <img src="https://w.namu.la/s/888b6031d40e9643a858ad0a810adc2eee063307f25990e70bb1c8dfb1c7f8e88da9ff0ef61858135e75308b5d51ce494fa942ae12b4ba696086a95c54700e7bb57e7bdb76b0896c19b45a373a270f5705f1788f40567be6f487cef206b6a40e"
                     alt="페페... 힝..." class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">WELL COME!!!</h3>
                    <p class="card-text text-dark">
                        아이엠디티 코딩테스트 프로젝트 메인화면 입니다 :)
                    </p>
                    <p class="text-muted"><s><small>헛짓거리 하다가 시간 다 날렸네... ;ㅁ;</small></s></p>
                    <a href="https://github.com/callorange/IAMDT_TEST" class="btn btn-success" target="_blank">github 보러가기</a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <a href="/api/doc/swagger" class="btn btn-primary" target="_blank">Swagger UI 보러가기</a>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">

                        <a href="/admin/" class="btn btn-info" target="_blank">Django Admin</a>
                        <a href="/silk/" class="btn btn-warning" target="_blank">Django Silk</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>